/* core */
* { margin: 0; padding: 0; outline: none;}
body {
    background-color: #fbebea;
    overflow-wrap: break-word;
    color: #2d2829;
}
a { text-decoration: none;}
html {scroll-behavior: smooth;}

.container {
    max-width: 1240px; padding: 0 20px; margin: 0 auto; position: relative;}

/* Fonts */
@font-face {
    font-family: 'intro';
    src: url("./fonts/intro_script_r_h2_base-webfont.woff"),
    url("./fonts/intro_script_r_h2_base-webfont.woff2");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'playfair';
    src: url("./fonts/playfairdisplay-bold-webfont.woff"),
    url("./fonts/playfairdisplay-bold-webfont.woff2");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'playfairb';
    src: url("./fonts/playfairdisplay-black-webfont.woff"),
    url("./fonts/playfairdisplay-black-webfont.woff2");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'circe';
    src: url("./fonts/Circe-Regular.woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'circe';
    src: url("./fonts/Circe-Bold.woff");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "myriad";
    src: url("./fonts/MyriadPro-Regular.woff");
    font-weight: 400;
    font-style: normal;
  }

  /* header */
  .main__header {
      background: url("./img/header_cake.png") no-repeat 100% 100%;
  }
  .top__header {
      display: flex;
      justify-content: space-between;
      padding-top: 65px;      
  }
  .header__menu {
      display: flex;
      list-style: none;
      align-items: flex-end;
  }
  
  .header__menu li {
      padding-right: 45px;
      font-family: circe, Arial, sans-serif;
      font-size: 13px;
      font-weight: 600; 
      text-transform: uppercase;
  }
  
  .header__menu li:first-child {
      text-transform: none;
  }

  .header__menu .logo__header {
      font-size: 23.2px;
      font-family: playfairb, Arial, sans-serif;
      font-weight: 800;
  }
  
  .top__header a {
      max-width: 120px;
      text-decoration: none;
      font-family: circe, Arial, sans-serif;
      font-weight: 800;
      align-self: flex-end;
  }
  .header__about{
    padding-top: 165px;
    padding-bottom: 150px;
  }
  .header__about h1 {
    font-size: 78px;
    line-height: 70px;
    max-width: 360px;
    font-family: playfair, Arial, sans-serif;
    padding-bottom: 30px;
  }
  
  .header__about p {
    font-size: 41px;
    line-height: 78px;
    font-family: intro, Arial, sans-serif;
    padding-bottom: 60px;
  }
  .button_a{
    font-size: 13px;
    line-height: 27px;
    font-family: circe, Arial, sans-serif;
    color: white;
    padding: 20px 65px;
    background-color: #f50049;
    border-radius: 50px;
    text-transform: uppercase;
  }

  .header__special {
    display: flex;  
    padding-bottom: 240px;
    position: relative;
  }

  .special__image {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    font-family: circe, Arial, sans-serif;
  }

  .special__image img {
    padding-right: 10px;
  }

  .image__1 {
    max-width: 155px;
    padding-right: 70px;
  }

  .image__2 {
    max-width: 250px;
  }

  .header__special::before {
    content:"Наши торты";
    position: absolute;
    bottom:0;
    left:20px;
    font-size: 40px;
    line-height: 66px;
    font-family: playfair, Arial,sans-serif;
  }

   /* MENU START HERE*/
  .main__menu {
    padding-top: 45px;
  }

  .first__grid {
    display: grid;
    grid-template-rows: 305px 305px;
    grid-template-columns: 56.45% 39.1%;
    grid-row-gap: 45px;
    grid-column-gap: 4.45%;
  }

  .classic_cake {
    grid-row-start: 1;
    grid-row-end: 3;
    background: url("./img/Classic_cake.jpg") no-repeat 50% /cover;
  }

  .muss_cake {
    background: url("./img/muss_cake.jpg") no-repeat 50% /cover;
  }

  .wedding_cake {
    background: url("./img/wedding_cake.jpg") no-repeat 50% /cover;
  }

  .second__grid {
    padding-top: 45px;
    padding-bottom: 110px;
    display: grid;
    grid-template-rows: 305px 305px;
    grid-template-columns: 39.1% 56.45% ;
    grid-row-gap: 45px;
    grid-column-gap: 4.45%;
  }

  .kid_cake {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2 / 3;
    background: url("./img/kid_cake.jpg") no-repeat 50%;
    background-size: initial;
  }

  .man_cake {
    background: url("./img/man_cake.jpg") no-repeat 50% /cover;
  }

  .woman_cake {
    background: url("./img/woman_cake.jpg") no-repeat 50% /cover;
  }

  .cake {
    box-shadow: 0 0 10px 5px #f7e0e2;
    position: relative;
  }

  .cake::after {
    font-family: FontAwesome;
    position: absolute;
    bottom: 40px;
    right: 60px;
    content: "\f30b";
    color: #828080;
  }
  
  .text_three_steps {
    text-align: center;
    padding-bottom: 50px;
  }

  .text_three_steps h2 {
    font-size: 40px;
    line-height: 66px;
    font-family: playfair, Arial, sans-serif;
  } 

  .text_three_steps p {
    font-size: 35px;
    font-family: intro, Arial, sans-serif;
  }

  /* text and buttons */
  .classic_about {
    padding-left: 45px;
    padding-top: 40px;
  }

  .classic_about h3 {
    font-size: 24px;
    line-height: 30px;
    font-family: circe, Arial, sans-serif;
    font-weight: 400;
  }

  .classic_about p {
    font-size: 20px;
    font-family: circe, Arial, sans-serif;
    color: #828080;
  }
  
  /* about CHOICE */

  .cake_describe {
    background-color: white;
    position: relative;
    padding-top: 90px;
    padding-bottom: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  

  .cake__info {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    position: relative;
  }
  
  .cake__info::after {
    font-family: FontAwesome;
    position: absolute;
    top:50%;
    right: 0px;
    transform: translateX(-50%);
    content: "\f054";
    color: #f17d91;
    font-size: 15px;
  }

  .cake__info::before {
    font-family: FontAwesome;
    position: absolute;
    top:50%;
    left: 0px;
    transform: translateX(-50%);
    content: "\f053";
    color: #f17d91;

  }

  .cake__info__image {
    max-width: 345px;
    padding-right:40px;
  }

  .cake__info__text {
    max-width: 270px;
  }

  .cake__info__text h2 {
    color: #2f2f2f;
    font-size: 20px;
    line-height: 30px;
    font-family: circe, Arial, sans-serif;
  }

  .cake__info__text p {
    color: #2f2f2f;
    font-size: 18px;
    line-height: 24px;
    font-family: circe, Arial, sans-serif;
  }

  .cake__info__text h3 {
    color: #2f2f2f;
    font-size: 22px;
    padding-top: 18px;
    padding-bottom: 50px;
    font-family: playfair, Arial, sans-serif;
  }

  .count {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #838383;
    font-size: 18px;
    font-family: circe, Arial, sans-serif;
  }

  .cake__size__inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .cake__filling__about {
    position: absolute;
    top:75px;
    left:85px;
    color: #f50049;
  }

  .cake__filling__about h3 {
    font-size: 64.25px;
    line-height: 0;
    line-height: 32px;
    padding-bottom: 20px;
    font-family: playfair;
  }
  .cake__filling__about p {
    font-size: 27px;
    font-family: playfair;
  }





  .circle {
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 17px;
    color: #2f2f2f;
    font-family: circe;
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;
    }
    
    .size__about {
      position: absolute;
      top:75px;
      left:85px;
      color: #f50049;
    }

    .size__about h3 {
      font-size: 64.25px;
      line-height: 32px;
      padding-bottom: 20px;
      font-family: playfairb;
    }
    .size__about p {
      font-size: 27px;
      font-family: playfair;
    }

    .circle figure {
      padding-right: 70px;
    }

    .circle figure:last-child {
      padding-right: 0;
    }

   .circle_1 {
    padding: 40px;
    border: 6px dotted #2d2829;
    border-radius: 50%;
   }
   .circle_2 {
    padding: 60px;
    border: 6px dotted #2d2829;
    border-radius: 50%;
   }

   .circle_3 {
     position: relative;
     padding: 75px;
     border: 6px dotted #2d2829;
     border-radius: 50%;
   }
   .circle_3_inner {
     position: absolute;
     left:22px;
     top:22px;
     right: 22px;
     bottom: 22px;
     border: 5px dotted #2d2829;
     border-radius: 50%;
   }
   
   .circle_4 {
    position: relative;
    padding: 90px;
    border: 6px dotted #2d2829;
    border-radius: 50%;
   }

   .circle_4::before {
    content: "";
    position: absolute;
    left:26px;
     top:26px;
     right: 26px;
     bottom: 26px;
     border: 5px dotted #2d2829;
     border-radius: 50%;
   }

   .circle_4::after {
    content: "";
    position: absolute;
    left:47px;
    top:47px;
    right: 47px;
    bottom: 47px;
    border: 4px dotted #2d2829;
    border-radius: 50%;
   }

   .circle__about {
     padding-top: 35px;
     font-size: 18px;
     line-height: 30px;
     font-family: circe;
     color:#828080;
   }

   .decor {
    background: url("./img/aside_cake.png") no-repeat 50px 210px;
     background-color: white;
     padding-top: 60px;
     padding-bottom: 70px;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
   }
   
   .decore__choise {
     max-width: 860px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 430px;
     margin-right: 7.1%;
     position: relative;
     margin-bottom: 65px;
   }


   .decore__choise::after {
    font-family: FontAwesome;
    position: absolute;
    top:50%;
    right: 0px;
    transform: translateX(-50%);
    content: "\f054";
    color: #f17d91;
    font-size: 15px;
  }

  .decore__choise::before {
    font-family: FontAwesome;
    position: absolute;
    top:50%;
    left: 0px;
    transform: translateX(-50%);
    content: "\f053";
    color: #f17d91;
  }

  .decor_count {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #838383;
    font-family: circe, Arial, sans-serif;
    font-size: 18px;
  }

   .decor__first {
     background: url("./img/fruit_cake.jpg") no-repeat 50% /cover;
     max-width: 320px;
     width: 100%;
     height: 100%;
     margin-right: 50px;
   }

   .decor__second {
     background: url("./img/marshm_cake.jpg") no-repeat 50% /cover;
     max-width: 320px;
     width: 100%;
     height: 100%;
   }
   
   .decor__decor {
     text-align: center;
     vertical-align: bottom;
     padding-bottom: 30px;
     padding-top: 345px;
     box-shadow: 0px 7px 13px 0 rgba(0,0,0, 0.2);
   }

   .decor__decor p{
    font-size: 20px;
    font-family: circe, Arial, sans-serif;
   }

   .decor__decor h2 {
    font-size: 22px;
    font-family: playfair, Arial, sans-serif;
   }

   .your__choise {
      color: #2d2829;
      font-size: 27px;
      font-family: playfair;
      align-self: flex-start;
      margin: 0 75px;
      max-width: 1060px;
      width: 100%;
   }
   .selectors__choise {
     display: flex;
     flex-wrap: wrap;
     padding-bottom: 5px;
     flex-direction: row;
   }

   .selectors__choise p {
      font-size: 27px;
      line-height: 50px;
      color: #f50049;
      font-family: intro, arial, sans-serif;
   }

   .selectors__choise div {
     margin-right: 80px;
   }

   .filling {
     max-width: 250px;
     width: 100%;
     font-size: 18px;
     font-family: circe, Arial, sans-serif;
   }

   .size {
    max-width: 140px;
    width: 100%;
   }

   .decoration.selector__par {
    max-width: 250px;
    width: 100%;
    margin-right: 25px;
   }

   .selector__par {
     border:none;
   }


   .selector__par select {
     border: none;
     font-size: 18px;
     font-family: circe, Arial, sans-serif;
     -webkit-appearance: none;
     -moz-appearance: none;
      appearance: none;
   }

   .button_a.buy {
     align-self: flex-end;
     margin-top: 15px;
     padding: 18px 65px;
     font-weight: 400;
     font-weight: 13px;
     font-size: 13px;

   }


   /* SELECTS - CUSTOME */

   .select {
    position: relative;
    max-width: 250px;
    width: 100%;
  }
 
  .select.is-active .select__body {
    display: block;
  }

  .select__header {
    padding: 5px 0 5px 5px;
    border-bottom: 2px solid #c1b0af;
    cursor: pointer;
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }
  .select__current {
    font-size: 18px;
    font-family: circe, Arial, sans-serif;
  }
  .select__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1%;
    box-sizing: border-box;
  }
  
  .select__body {
    background-color: white;
    border-left: 2px solid rgba(158, 55, 50, 0.2);
    border-right: 2px solid rgba(158, 55, 50, 0.2);
    border-top: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  .select__item {
    padding: 5px 0 5px 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: circe, Arial, sans-serif;
    width: 100%;
    border-bottom: 2px solid rgba(158, 55, 50, 0.2);
    box-sizing: border-box;
  }
  
  .select__item:hover {
    background-color:  rgba(245,0,73,0.5);
    border-bottom: 4px solid #c1b0af;
    box-sizing: border-box;
  }


  /* REVIEW */
.review {
  position: relative;
  background: url('./img/banner.png') no-repeat 0 0 /contain;
}

  .review__inner{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .review_h2 {
    font-size: 40px;
    font-family: playfair, arial, sans-serif;
    padding-top: 115px;
    padding-bottom: 65px;
  }

  .reviews__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    width: 100%;
    margin-bottom: 180px;
  }

  .review__image {
    max-width: 210px;
    padding-right:40px;
  }

  .review__image img {
    border-radius: 50%;
  }

  .review__text {
    position: relative;
    max-width: 350px;
    text-align: start;
  }

  .review__text h2 {
    font-size: 24px;
    font-family: circe, arial, sans-serif;
  }

  .review__text p {
    font-size: 20px;
    font-family: circe, arial, sans-serif;
  }
  .review__text p:last-child {
    width: 100%;
    font-size: 18.4px;
    line-height: 24.56px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: myriad, arial, sans-serif;
  }
  .review__text i {
    color: #f17d91;
    font-size: 16px;
    font-family: myriad, arial, sans-serif;
    text-decoration: underline;
    font-weight: 300;
  }

  .count__review {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #f17d91;
    font-size: 18px;
    font-family: circe, Arial, sans-serif;
  }

  .reviews__list::after {
    font-family: FontAwesome;
    position: absolute;
    top:50%;
    right: 0px;
    transform: translateX(-50%);
    content: "\f054";
    color: #f17d91;
    font-size: 15px;
  }

  .reviews__list::before {
    font-family: FontAwesome;
    position: absolute;
    top:50%;
    left: 0px;
    transform: translateX(-50%);
    content: "\f053";
    color: #f17d91;
  }

.select__body {
  z-index: 2;  
}

  /* hover элементы */

  .button_a:hover,   .button_a:focus,   .button_a:active {
    box-shadow: 0px 4px 16px 0 #ff0043;
    background-color: #ff235a;
  }
